*{
  font-family: 'Archivo', sans-serif;
}
body{
  width: 90%;
  height: 100%;
  font: 60%;
  margin: 0;
  margin-left: 100px;
  padding: 0;
  background: #F4EBD0;
}

.titulo-logo{
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 3rem;
  margin: 1.5rem;
  padding: 0;

}

h1 img{
  width: 50px;
  height: 50px;
  margin-top:10px;
}

h3{
  margin-top: 0;
  font-size: 2rem;
}

.secao-colmeias{
  display: flex;
  justify-content: flex-start;
}

.colmeia{
  height: 12.4rem;
  width: 10rem;
  margin: 0.2rem;
  background: #D6AD60;
  border-radius: 2rem;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  }

.colmeia h4{
  font-size: 1rem;
  text-align: center;
}

.icon-dados{
  display: flex;
  margin: 0.4rem;
}

.icon-dados img{
  margin-top: -0.15rem;
  width: 20px;
  height: 20px;
}

button{
  border: none;
  background: #CD7F32;
  margin-bottom: 1rem;
  margin-top: 3rem;
  height: 2rem;
  width: 6rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

button:hover{
  background: #FBB03B;
}


a{
  margin: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

a:hover{
  color: gray;
}

.icon{
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
nav{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;;
  justify-content: flex-start;
  background: #D6AD60;

}


#barra-lateral{
  padding: 0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
  height:100%;
  overflow:hidden;
  width:340px;
  position:fixed;
  top:0;
  left:-320px;
}

#barra-lateral:before {
	z-index:1000;
	content: url("images/barra-lateral2.svg");
	position:fixed;
	left:4px;
	top:45px;
  }


#barra-lateral:hover:before, #barra-lateral:focus:before {
  left:-200px;
	}

#barra-lateral:hover, #barra-lateral:focus,  #barra-lateral:active  {
	transform: translate(320px, 0);
	padding-right:0;
  width: 20rem;
}

.resumo{
  margin: 2rem;
  display: flex;
  flex-direction: row;

}

.grafico{
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
}

#clima{
  margin: 2rem;
}

#resultados{
  margin: 2rem;
  margin-left: -8rem;
}
#resultados img{
  width: 150px;
}
