*{
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
}

html{
  width: 100vw;
  height: 100vh;
}
body{
  width: 100%;
  height: 100%;
  background-image: url("../assets/backgroundportfolio.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.logo:hover{
  cursor: pointer;
}

.nav{
  width: 95%;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.linkItem{
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-left: 2rem;
}

.linkItem:hover{
  cursor: pointer;
  color: rgb(198, 187, 177);
}

.containerContent{
  align-self: center;
  position: absolute;
  top: 40vh;
}

.temporary{
  position: absolute;
  bottom: 10vh;
}

a{
  text-decoration: none;
}

h6{
  color: #C0C0C0;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

h4{
  color: #C0C0C0;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
}

.myName{
  color: #C0C0C0;
  font-size: 90px;
  line-height: 90px;
  text-align: left;
}

h2{
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #C0C0C0;
}

/*
@media screen and (max-width: 1400px){
  .myName{
    font-size: 64px;
  }

  h2{
    font-size: 30px;
  }

  h4{
    font-size: 26px;
  }

  h6{
    font-size: 18px;
  }
}
*/
